body
{
	margin: 0px;
	padding: 0px;
	background: #0066cc;
	color: white;
	font-family: verdana;
	min-height:100%;
	width:100%;
}

#naglowek
{
	background-color:#042f47;
	border-bottom: 10px solid white;
	height: 70px;
	width:100%;
	position: relative;
}

#naglowek .slogan
{
	padding:10px;
	padding-bottom:60px;	
			margin-top: 15px;
	color: #fff31a;
		font-size: xx-large;
	font-family: Copperplate;
	text-align:center;

}
#tresc
{
	margin-left:200px;
	margin-right: 50px;
	position:absolute;
	margin-top: -20px;
	height:140%;

}
#tresc p
{


	font-size: 25px;

}
#naglowek .logo
{
	float: left;
}


#tresc ol {
	list-style-type:none;
	padding:0;
	margin:10;
	font-size:20px;
	height:2em;
	line-height:2em;
	text-align:center;
	margin-top:30x;

	}

      /* wygl¹d wszystkich elementów - a - znajduj¹cych siê w elemencie - ol */
#tresc ol a {
display:block;
text-decoration:none;
color:#000;
padding:0 px;

      }

      /* wygl¹d elementów - li - wszystkich dzieci elementu - ol */
      #tresc ol > li {
        float:left;
        width:500px;
				margin-top:10px;
        margin-left:0px;
				margin-right:10px;
        background-color:#FDD700;
        height:2em;
      }

      /* wygl¹d elementu - li - pierwszego dziecka elementu - ol */
      #tresc ol > li:first-child {
        margin-left:0;
      }

      /* wygl¹d elementów - li - wszystkich dzieci elementu - ol - po najechaniu kursorem myszki na element - li */
      #tresc ol > li:hover {
        background-color:#EEE;
      }

      /* wygl¹d elementu - a - dziecka elementu - li - bêd¹cego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
      #tresc ol > li:hover > a {
        color:#09C;
      }

      /* wygl¹d elementu - ul - dziecka elementu - li - bêd¹cego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
      #tresc ol > li:hover > ul {
        display:block;
      }


      /* wygl¹d g³ównych rozwijanych elementów - ul */
      #tresc ol > li > ul {
        display:none;
        list-style-type:none;
        padding:0;
        margin:0;
      }

      /* wygl¹d elementu - li - w czêœci rozwijanej */
      #tresc ol > li > ul > li {
        position:relative;
        background-color:#EEE;
      }

      /* wygl¹d elementu - a - w czêœci rozwijanej */
      #tresc ol > li > ul > li > a {
        border-top:1px solid #FFF;
      }

      #tresc ol > li > ul > li:hover {
        background-color:#DDD;
      }
      /*#tresc ol > li > ul > li:hover > a 
			{
        col;
				}*/
	
	
#stopka
{
	background: #042f47;
 	position:absolute;
	bottom: -390px;
	height: 200px;
	width: 100%;
		}


#stopka .fb
{

	margin-top: 30px;

}
#stopka h5
{
	float: right;
	font-family:Courier New;
	font-size: 15px;
	margin-bottom:10px;
	margin-right:200px;
}

#stopka p
{
	float: left;

	margin-top: 10px;
	font-family:Times New Roman;
	font-size: 20px;
	text-align:center;
	margin-left:200px;

}



#stopka a
{
color:#fff31a;
	
}