body
{
	margin: 0px;
	padding: 0px;
	background: #0066cc;
	color: white;
	font-family: verdana;
}

#naglowek
{
	background-color:#042f47;
	border-bottom: 10px solid white;
	height: 70px;
	width:100%;
	position: relative;
}
#naglowek .logo
{
	float: left;
}
#naglowek .slogan
{
	padding:10px;
	padding-bottom:60px;	
			margin-top: 15px;
	color: #fff31a;
		font-size: xx-large;
	font-family: Copperplate;
	text-align:center;

}
#tresc
{
	margin-right: 50px;
	position:absolute;
	margin-top: 20px;
	height:110%



}



#tresc .tytul
{
	float: right;
	margin-top: 15px;
	margin-left:30px;
	color: white;
	font-size: 38px;
	font-family: Lucida Console;
	
}
#naglowek .logo
{
	float: left;
	margin-top: 3px;
}

#tresc .tekst
{
	float:left;
	font-size:20px;
	margin-top:30px;
	margin-left:30px;

}

#stopka
{
	background-color: #042f47;
	position:fixed;
	bottom: 0px;
	height: 150px;
	width: 100%;
}
#stopka .fb
{
	float: left;
	margin-top: 10px;
	margin-left: 110px
}
#stopka p
{
	float: left;
	margin-left: 150px;
	margin-top: 25px;
	font-family:Times New Roman;
	font-size: 30px;
		text-align:center;

}
#stopka h5
{
	float: left;
	margin-left: 350px;
	margin-top: -10px;
	font-family:Courier New;
	font-size: 15px;
}
#stopka .zwzt
{
	float: left;
	margin-top: -85px;
	margin-left: 40px;

}
#stopka a
{
color:#fff31a;
}

	


